body {
    padding: 20px;
}

.container {
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1 rem;
    align-content: space-evenly;
}

.box {
    font-size: 200%;
    /* min-width: 100px;
    min-height: 100px; */
    height: 100px;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: center; /*aligns horizontally */
    align-items: center; /*aligns vertically */
    flex-shrink: 1;
    flex-basis: 350px;
}

.box:nth-child(2) {
    flex-shrink: 2;
}